.StormShadow{
	-webkit-box-shadow:rgba(0, 0, 0, 0.683594) 3px 3px 8px 1px,rgb(255, 255, 255) 0px 0px 5px 0px inset;
	-moz-box-shadow:rgba(0, 0, 0, 0.683594) 3px 3px 8px 1px,rgb(255, 255, 255) 0px 0px 5px 0px inset;
	box-shadow:rgba(0, 0, 0, 0.683594) 3px 3px 8px 1px,rgb(255, 255, 255) 0px 0px 5px 0px inset;
}
.StormShadow02{
	-webkit-box-shadow:rgba(0, 0, 0, 0.690196) 0px 2px 6px 0px;
	-moz-box-shadow:rgba(0, 0, 0, 0.690196) 0px 2px 6px 0px;
	box-shadow:rgba(0, 0, 0, 0.690196) 0px 2px 6px 0px;
}
.StormShadowInset{
	-webkit-box-shadow:rgb(0, 0, 0) 0px 0px 5px 0px inset;
	-moz-box-shadow:rgb(0, 0, 0) 0px 0px 5px 0px inset;
	box-shadow:rgb(0, 0, 0) 0px 0px 5px 0px inset;
}
.StormRound{
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}

.StormBTN01 {
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,0.44)),color-stop(0.43,rgba(255,255,255,0)),color-stop(0.54,rgba(0,0,0,0.06)),to(rgba(0,0,0,0.17))),-webkit-gradient(linear,0% 0%,100% 0%,from(rgba(0,0,0,0.12)),color-stop(0.30,rgba(255,255,255,0)),color-stop(0.70,rgba(255,255,255,0)),to(rgba(0,0,0,0.12)));
	background-image:-moz-linear-gradient(top,rgba(255,255,255,0.44) 0%,rgba(255,255,255,0) 43%,rgba(0,0,0,0.06) 54%,rgba(0,0,0,0.17) 100%),-moz-linear-gradient(left,rgba(0,0,0,0.12) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,0) 70%,rgba(0,0,0,0.12) 100%);
	background-image:-o-linear-gradient(top,rgba(255,255,255,0.44) 0%,rgba(255,255,255,0) 43%,rgba(0,0,0,0.06) 54%,rgba(0,0,0,0.17) 100%),-o-linear-gradient(left,rgba(0,0,0,0.12) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,0) 70%,rgba(0,0,0,0.12) 100%);
	background-image:-ms-linear-gradient(top,rgba(255,255,255,0.44) 0%,rgba(255,255,255,0) 43%,rgba(0,0,0,0.06) 54%,rgba(0,0,0,0.17) 100%),-ms-linear-gradient(left,rgba(0,0,0,0.12) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,0) 70%,rgba(0,0,0,0.12) 100%);
	cursor:pointer;
	font-size:10px;
	height:12px;
	padding:1px;
	color:#000;
}
.StormFS12{
	font-size:12px;
}





.SEC_PanelAnimation_control {
	cursor:pointer;
	width:30px;
	height:20px;
	background-image:url(../resources/TimelineAnimationControls.png);
	background-color:transparent;
	background-repeat:no-repeat;
	border:0px;
}

.SEC_PanelAnimation_controlPrev {
	background-position:0px 0px;
}
.SEC_PanelAnimation_controlPrev:hover {
	background-position:0px -27px;
}

.SEC_PanelAnimation_controlPlay {
	background-position:-30px 0px;
}
.SEC_PanelAnimation_controlPlay:hover {
	background-position:-30px -27px;
}

.SEC_PanelAnimation_controlStop {
	background-position:-64px 0px;
}
.SEC_PanelAnimation_controlStop:hover {
	background-position:-64px -27px;
}

.SEC_PanelAnimation_controlNext {
	background-position:-94px 0px;
}
.SEC_PanelAnimation_controlNext:hover {
	background-position:-94px -27px;
}

.colorpicker{
	z-index:900;
}





.SECfontSize {
	font-size:11px;
}

.SECround5 {
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.SECround5TL {
	border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;	
}
.SECround5TR {
	border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
}
.SECround5BL {
	border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;	
}
.SECround5BR {
	border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;	
} 




/* MENU MOUSE */
.SECmenuMouse {
	display : none;
	position : absolute;
	background-color : #262626;
	color:#FFF;
	padding : 1px;
	font-size : 11px;
	cursor : pointer;
}
.SECmenuMouse div:hover {
	background-color : #CCC;
	color:#262626;
}

/* BUTTONS */
.SECbutton {
	background-color : #262626;
	color:#FFF;
}
.SECbutton div:hover {
	background-color : #CCC;
	color:#262626;
}





.boxMat {

}